.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #8365FF;
  cursor: default;
  border: none;
  border-bottom: solid 5px red;
  line-height: normal;
}

.nav > li > a:focus, .nav > li > a {
  text-decoration: none;
  margin: 0;
  line-height: normal;
  border: none;
  border-bottom: solid 3px #8365FF;
}

.nav-tabs > li > a:hover {
  border: none;
  border-bottom: solid 3px #8365FF;
  color: #8365FF;
}

.tab-content {
  padding: 10px;
}

.nav-tabs > li > a {
  border-radius: 0;
  margin: 0;
  line-height: normal;
  color: #707070;
  /*font-size: 20px;*/
  border-bottom: solid 2px #8365FF;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  width: 33.33%;
}

.side-bar {
  background: #FFFFFF;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-menu-btn {
  background: #FFFFFF;
  color: #8365FF;
  border-style: none;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 12px;
}

.img-select {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.p_required {
  color: #2146C7;
  font-weight: bold;
  padding-left: 10px;
}

.imagePreview1 {
  background: #FFFFFF;
  color: #8365FF;
  font-weight: bold;
  border: 2px solid #8365FF;
}

.imagePreview2 {
  background: #FFFFFF;
  color: #8365FF;
  font-weight: bold;
  border: 2px solid #8365FF;
}

.imagePreview3 {
  background: #FFFFFF;
  color: #8365FF;
  font-weight: bold;
  border: 2px solid #8365FF;
}

.title-p {
  text-align: left;
  margin-bottom: 10px;
}

.nav-btn.nav-login {
  background: #FFFFFF;
  color: #8365FF;
  border-style: none;
  border-color: #8365FF;
}

.nav-btn.nav-toroku {
  background: #8365FF;
  border-style: solid;
  border-color: #8365FF;
}

.navbar-set {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px 1px #D5D5D5;
}

.tag-text {
  height: 50px;
  box-shadow: 0px 0px 10px #D5D5D5;
}

.p-acount2 {
  margin-bottom: 0px;
}

.p-acount1 {
  text-align: left;
  margin-bottom: 0px;
}

.heading-set {
  text-align: center;
  color: #707070;
  margin-top: 100px;
}

.acountedit-btn {
  background: #8365FF;
  padding-right: 30px;
  padding-left: 30px;
}

.w-lg-50.p-toroku-new {
  color: #8365FF;
  font-size: 20px;
}

tab {
  --bs-nav-tabs-border-color: #8365FF;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: #8365FF;
  --bs-nav-tabs-link-active-color: #495057;
  --bs-nav-tabs-link-active-bg: #8365FF;
  --bs-nav-tabs-link-active-border-color: #8365FF;
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}

.indicators-style {
  border-radius: 50px;
  margin: 1px 3px;
}

.p-hover {
  color: #6648b1;
  border: 1px solid #6648b1;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #8365FF;
  border-bottom: solid 1px #8365ff;
  background-color: #F5F5F9;
}

footer {
  margin-top: auto;
}

.box-shadow {
  box-shadow: 0px 0px 10px #d6d8f5;
}

.text-main {
  color: #707070;
}

.text-purple {
  color: #8365FF;
}

.btn-purple {
  background: #8365FF;
  border-style: solid;
  border-color: #8365FF;
}

.bg-purple {
  background: #8365FF;
}

.btn-accent {
  background: #E6CBA8;
  border-style: solid;
  border-color: #918f96;
}

.bg-main {
  background: #0008C1;
}

.text-main-color {
  color: #0008C1;
}

.category p {
    background-color: #0008C1;
    font-size: 15px;
    color: #FFF;
    padding: 10px 0;
    font-weight: bold;
    margin: 0;
}

.articles p {
    border: 2px solid #E6CBA8;
    font-size: 15px;
    color: #595959;
    padding: 10px 0;
    font-weight: bold;
    margin: 0;
}

.category_list {
    margin: 10px auto;
}

.area-ttl {
    margin-bottom: 15px;
}

.area-ttl span {
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    background: #71c5ee;
    display: inline-block;
    padding: 5px 10px 3px;
}

.bg-accent {
  background-color:rgba(245,222,179,0.5);
  border-style: solid;
  border-color: #0d6efd;
}

.category_list a {
    padding: 5px;
    display: inline-block;
}
